<div class="flex flex-col h-screen space-y-2">
  <div
    class="bg-indigo-500 p-4 text-white font-semibold flex flex-row items-center justify-between"
  >
    <div>NTUA Digital Twin</div>
    <div><img class="w-24" src="/assets/fiwarelogo.png" /></div>
  </div>
  <div class="bg-gray-300 flex flex-row items-center p-4 space-x-4">
    <span class="cursor-pointer" (click)="getAllEntities()">Itia Station</span>
    <span class="cursor-pointer" (click)="logout()">Logout</span>
  </div>
  <div class="flex flex-row h-full">
    <div class="w-1/2">
      <form-sign-in
        *ngIf="(isAuthenticated$ | async) === false"
        (credentials)="onCredentials($event)"
      ></form-sign-in>
      <div *ngIf="isAuthenticated()" class="p-4 space-y-2 text-xs">
        <table>
          <tr>
            <th>Sensor</th>
            <th>Link</th>
            <th>Value</th>
            <th>When</th>
          </tr>
          <tr *ngFor="let entity of entities">
            <td class="p-2">{{ entity.name?.value }}</td>
            <td class="p-2">
              <a
                class="underline text-indigo-500"
                href="{{ entity.source?.value }}"
                >source</a
              >
            </td>
            <td class="p-2">
              {{
                entity.precipitation?.value ||
                  entity.temperature?.value ||
                  entity.gustSpeed?.value ||
                  entity.atmosphericPressure?.value ||
                  entity.windSpeed?.value ||
                  entity.windDirection?.value ||
                  entity.solarRadiation?.value ||
                  entity.sunshineDuration?.value ||
                  entity.relativeHumidity?.value ||
                  entity.precipitation?.value
              }}
            </td>
            <td>
              {{ entity.dateObserved.value | date: 'MMM dd hh:mm:ss':'GMT' }}
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="flex flex-grow">
      <mapboxgl-map
        class="w-full"
        [style]="'mapbox://styles/christodoulos/ckzichi5q001l15p1wpq6sbvs'"
        [center]="[23.782529708901464, 37.97732290332949]"
        [zoom]="16"
        [pitch]="45"
        [bearing]="-17.6"
        (mapLoad)="onMapLoad($event)"
      >
        <mapboxgl-layer
          id="3d-buildings"
          source="composite"
          sourceLayer="building"
          [filter]="['==', 'extrude', 'true']"
          type="fill-extrusion"
          [minzoom]="15"
          [paint]="{
            'fill-extrusion-color': '#aaa',
            'fill-extrusion-height': [
              'interpolate',
              ['linear'],
              ['zoom'],
              15,
              0,
              15.05,
              ['get', 'height']
            ],
            'fill-extrusion-base': [
              'interpolate',
              ['linear'],
              ['zoom'],
              15,
              0,
              15.05,
              ['get', 'min_height']
            ],
            'fill-extrusion-opacity': 0.6
          }"
          [before]="labelLayerId"
        ></mapboxgl-layer>
      </mapboxgl-map>
    </div>
  </div>
</div>
