<div class="row d-lg-flex d-none align-items-center align-content-center">
  <div class="col-6">
    <img class="img-fluid" src="{{ "/assets/images/impetus-logo.svg" |
    relative_url }}" />
  </div>
  <div class="col-2">
    <img class="img-fluid" src="{{ "/assets/images/eu.jpg" | relative_url }}" />
  </div>
  <div class="col-4">
    <p class="font-10">
      Proud to be supported by Europe. This project has received funding from
      the European Union’s Horizon 2020 research and innovation programme under
      grant agreement No 101037084
    </p>
  </div>
</div>
