<!-- ========== Left Sidebar Start ========== -->
<div class="leftside-menu">
  <!-- Brand Logo Light -->
  <a href="{{ "/index.html" | relative_url }}" class="logo logo-light">
    <span class="logo-lg mt-2 mb-2">
      <img src="{{ "/assets/images/uwmh-white-logo.png" | relative_url }}" alt="logo" />
    </span>
    <span class="logo-sm">
      <img src="{{ "/assets/images/uwmh-white-logo-sm.png" | relative_url }}" alt="small logo" />
    </span>
  </a>

  <!-- Sidebar -left -->
  <div class="h-100" id="leftside-menu-container" data-simplebar>
    <!--- Sidemenu -->
    <ul class="side-nav">
      <li class="side-nav-item">
        <a aria-expanded="false" class="side-nav-link" href="{{ "/" | relative_url }}"
          ><i class="uil-home-alt"></i> <span>About</span></a
        >
      </li>

      <li class="side-nav-item">
        <a
          data-bs-toggle="collapse"
          href="#sidebarDashboards"
          aria-expanded="false"
          aria-controls="sidebarDashboards"
          class="side-nav-link"
        >
          <i class="ri-file-text-line"></i>
          <span> Legal </span>
        </a>
        <div class="collapse" id="sidebarDashboards">
          <ul class="side-nav-second-level">
            <li>
              <a href="{{ "/privacy-policy.html" | relative_url }}">Privacy Policy</a>
            </li>
            <li>
              <a href="{{ "/terms-of-service.html" | relative_url }}">Terms Of Service</a>
            </li>
          </ul>
        </div>
      </li>

      <li class="side-nav-title">Innovations</li>

      <li class="side-nav-item">
        <a
          data-bs-toggle="collapse"
          href="#athens_plant_nursery"
          aria-expanded="false"
          aria-controls="athens_plant_nursery"
          class="side-nav-link"
        >
          <i class="ri-plant-line"></i>
          <span> Athens Plant Nursery </span>
        </a>
        <div class="collapse" id="athens_plant_nursery">
          <ul class="side-nav-second-level">
            <li>
              <a href="{{ "/athens-plant-nursery" | relative_url }}">About</a>
            </li>
            <li>
              <a href="{{ "/athens-plant-nursery/about" | relative_url }}">More info</a>
            </li>
            <li>
              <a href="{{ "/athens-plant-nursery/live-plc-metrics.html" | relative_url }}"
                >Live PLC metrics</a
              >
            </li>
            <li>
              <a href="{{ "/athens-plant-nursery/charts.html" | relative_url }}">Live PLC Charts</a>
            </li>
            <li>
              <a href="{{ "/athens-plant-nursery/weather.html" | relative_url }}">Local Weather</a>
            </li>
          </ul>
        </div>
      </li>

      <li class="side-nav-item">
        <a
          data-bs-toggle="collapse"
          href="#farmair"
          aria-expanded="false"
          aria-controls="farmair"
          class="side-nav-link"
        >
          <i class="ri-leaf-line"></i>
          <span> FarmAIr </span>
        </a>

        <div class="collapse" id="farmair">
          <ul class="side-nav-second-level">
            <li>
              <a href="{{ "/farmair" | relative_url }}">About</a>
            </li>
            <li><a href="{{ "/farmair/kokkotou.html" | relative_url }}">Kokkkotou Vineyards</a></li>
          </ul>
        </div>
      </li>

      <!-- End Sidemenu -->
    </ul>
    <!--- End Sidemenu -->

    <div class="clearfix"></div>
  </div>
</div>
<!-- ========== Left Sidebar End ========== -->
