---
layout: default
---

<!-- prettier-ignore -->
<div class="row">
  <div class="col-12">
    <div class="card flex-grow-1">
      <div class="card-header">
        <h4 class="header-title">Kokkotou Vineyards</h4>
      </div>
      <div class="card-body">
        <p>
          The data presented are used after the kind persmission of FarmAIr and
          Kokkotou Vineyards.
        </p>
        <form id="form">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group form-check form-switch">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="cswinery_switch"
                  name="cswinery"
                />
                <label class="form-check-label" for="cswinery_switch"
                  >C.S. Winery</label
                >
              </div>
              <div class="mt-3">
                <h4>Experiments</h4>
                {% for experiment in site.data.kokkotou.cswinery.experiments %}
                <div>
                  <input
                    type="radio"
                    id="{{ experiment }}"
                    name="cswinery-experiment"
                    class="form-check-input"
                    value="{{ experiment }}"
                    {% if forloop.first %}checked{% endif %}
                  />
                  <label class="form-check-label" for="{{ experiment }}"
                    >{{ experiment }}</label
                  >
                </div>
                {% endfor %}
              </div>
              <div class="mt-3">
                <h4>Layers</h4>
                {% for layer in site.data.kokkotou.cswinery.layers %}
                <div>
                  <input
                    type="radio"
                    id="{{ layer }}"
                    name="cswinery-layer"
                    class="form-check-input"
                    value="{{ layer }}"
                    {% if forloop.first %}checked{% endif %}
                  />
                  <label class="form-check-label" for="{{ layer }}"
                    >{{ layer }}</label
                  >
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-check form-switch">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="chardonay_switch"
                  name="chardonay"
                />
                <label class="form-check-label" for="chardonay_switch"
                  >Chardonay Oinodiadromes</label
                >
              </div>
              <div class="mt-3">
                <h4>Experiments</h4>
                {% for experiment in site.data.kokkotou.chardonay.experiments %}
                <div>
                  <input
                    type="radio"
                    id="{{ experiment }}"
                    name="chardonay-experiment"
                    class="form-check-input"
                    value="{{ experiment }}"
                    {% if forloop.first %}checked{% endif %}
                  />
                  <label class="form-check-label" for="{{ experiment }}"
                    >{{ experiment }}</label
                  >
                </div>
                {% endfor %}
              </div>
              <div class="mt-3">
                <h4>Layers</h4>
                {% for layer in site.data.kokkotou.chardonay.layers %}
                <div>
                  <input
                    type="radio"
                    id="{{ layer }}"
                    name="chardonay-layer"
                    class="form-check-input"
                    value="{{ layer }}"
                    {% if forloop.first %}checked{% endif %}
                  />
                  <label class="form-check-label" for="{{ layer }}"
                    >{{ layer }}</label
                  >
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </form>
      </div>
      <div id="mapp" style="height: 800px;"></div>
    </div>
  </div>
</div>
