---
layout: default
---
<div class="row">
  <div class="col-12">
    <div class="card flex-grow-1">
      <div class="card-header">
        <h4 class="header-title">Kokkotou Vineyards</h4>
      </div>
      <div class="card-body">
        <p>
          <a href="https://farmair.io/">farmAIr</a> and Kokkotou Vineyards have kindly granted permission to use the
          present data.
        </p>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group"><label>Vineyard</label></div>
            {% include select_widget.html label="Select a vineyard" name="vineyard" options=page.options %}
          </div>
          <div class="col-md-3">
            <div class="form-group"><label>Scan Date</label></div>
            {% include select_widget.html label="Select a Scan Date" name="scanDate" %}
          </div>
          <div class="col-md-3">
            <div class="form-group"><label>Analysis Layer</label></div>
            {% include select_widget.html label="Select an analysis Layer" name="layer" options=page.layers %}
          </div>
          <div class="col-md-3 d-flex align-items-end mt-2">
            <button
              class="btn btn-primary"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasRight"
              aria-controls="offcanvasRight"
              id="weather_button"
            >
              Weather Data
            </button>
          </div>
        </div>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Weather Data</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div id="temp"></div>
            <div id="pressure"></div>
            <div id="humidity"></div>
            <div id="wind_speed"></div>
            <div id="clouds"></div>
          </div>
        </div>
      </div>
      <div id="mapp" style="height: 800px;"></div>
    </div>
  </div>
</div>
