<script src="/assets/js/vendor.min.js"></script>
<script src="/assets/vendor/daterangepicker/moment.min.js"></script>
<script src="/assets/vendor/daterangepicker/daterangepicker.js"></script>
<script src="/assets/js/app.min.js"></script>
{% if page.mapbox %}
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>
    <script src="https://unpkg.com/three@0.126.0/build/three.min.js"></script>
    <script src="https://unpkg.com/three@0.126.0/examples/js/loaders/GLTFLoader.js"></script>
    {% case page.mapbox_case %}
        {% when "apn" %}
            <script src="/assets/js/pages/apn.live.map.js"></script>
    {% endcase %}
{% endif %}
{% if page.datatable %}
    <script src="/assets/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/assets/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="/assets/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/assets/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    {% case page.datatable_case %}
        {% when "apn" %}
            <script src="/assets/js/pages/apn.live.plc.js"></script>
    {% endcase %}
{% endif %}
{% if page.apex %}
    <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/assets/js/lodash.min.js"></script>
    {% case page.dashboard_case %}
        {% when "apn" %}
            <script src="/assets/js/pages/apn.live.charts.js"></script>
    {% endcase %}
{% endif %}
{% if page.apn_weather %}
    <script src="/assets/js/pages/apn.live.weather.js"></script>
{% endif %}