<!-- ========== Left Sidebar Start ========== -->
<div class="leftside-menu">
  <!-- Brand Logo Light -->
  <a href="/index.html" class="logo logo-light">
    <span class="logo-lg">
      <img src="/assets/images/uwmh-white-logo.png" alt="logo" />
    </span>
    <span class="logo-sm">
      <img src="/assets/images/uwmh-white-logo-sm.png" alt="small logo" />
    </span>
  </a>

  <!-- Sidebar -left -->
  <div class="h-100" id="leftside-menu-container" data-simplebar>
    <!--- Sidemenu -->
    <ul class="side-nav">
      <li class="side-nav-item">
        <a aria-expanded="false" class="side-nav-link" href="/"
          ><i class="uil-home-alt"></i> <span>About</span></a
        >
      </li>

      <li class="side-nav-item">
        <a
          data-bs-toggle="collapse"
          href="#sidebarDashboards"
          aria-expanded="false"
          aria-controls="sidebarDashboards"
          class="side-nav-link"
        >
          <i class="ri-file-text-line"></i>
          <span> Legal </span>
        </a>
        <div class="collapse" id="sidebarDashboards">
          <ul class="side-nav-second-level">
            <li>
              <a href="/privacy-policy.html">Privacy Policy</a>
            </li>
            <li>
              <a href="/terms-of-service.html">Terms Of Service</a>
            </li>
          </ul>
        </div>
      </li>

      <li class="side-nav-title">Innovations</li>

      <li class="side-nav-item">
        <a
          data-bs-toggle="collapse"
          href="#athens_plant_nursery"
          aria-expanded="false"
          aria-controls="athens_plant_nursery"
          class="side-nav-link"
        >
          <i class="ri-plant-line"></i>
          <span> Athens Plant Nursery </span>
        </a>
        <div class="collapse" id="athens_plant_nursery">
          <ul class="side-nav-second-level">
            <li>
              <a href="/athens-plant-nursery/about.html">About</a>
            </li>
            <li>
              <a href="/">Local Weather</a>
            </li>
            <li>
              <a href="/athens-plant-nursery/live-plc-metrics.html"
                >Live PLC metrics</a
              >
            </li>
            <li>
              <a href="dashboard-crm.html">Charts</a>
            </li>
          </ul>
        </div>
      </li>

      <!-- End Sidemenu -->
    </ul>
    <!--- End Sidemenu -->

    <div class="clearfix"></div>
  </div>
</div>
<!-- ========== Left Sidebar End ========== -->
