<link rel="shortcut icon" href="/assets/images/favicon.ico" />
<script src="/assets/js/hyper-config.js"></script>
<link href="/assets/css/app-saas.css" rel="stylesheet" type="text/css" id="app-style" />
<link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
{% if page.datatable %}
  <link href="/assets/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css" />
{% endif %} 
{% if page.mapbox %}
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet' />
  
{% endif %}
<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
